.language-wrapper {
    text-align: center;
}

.language {
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
}

.language-choice {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.english {
    color: rgba(0, 122, 122, 1.0);
}

.french {
    color: rgba(0, 122, 0, 1.0);
}

.spanish {
    color: rgba(255, 122, 122, 1.0);
}
